body {
  background-color: lightgray;
}
h1 {
  text-align: center;
}
p {
  font-family: Arial;
  font-size: 20px;
}
h2 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: blue;
}
li {
  font-size: 20px;
}
